
<div class="container">
  <h1>Rodney Earl</h1>
  <div class="row">
    <aside class="span6">
      <section>
        <%= image_tag("profile_picture.jpg", alt: "Rodney") %>
      </section>
    </aside>
    <aside class="span6">
      <section>
        <p>I am currently a MSc student in the IGS program at the University of British Columbia - Okanagan Campus.</p>
        <p>BSc in Mathematics, Pure Math concentration, and Honours in Computer Science, University of British Columbia, 2008-2013.</p>
      </section>
    </aside>
  </div>
</div>
