<% provide(:title, 'References') %>
<h1>References</h1>
<div class="row">
  <aside class="span6">
    <section>
      Name and contact information of my supevisors in UBC Okanagan
    </section>
    <section>
      <p>Bowen Hui</p>
      <p>Computer Science, I. K. Barber School of Arts & Sciences, UBC Okanagan, 3333 University Way, Kelowna, BC V1V 1V7, Canada</p>
      <p>Office: Sci 234</p>
      <p>Email: bowen.hui@ubc.ca</p>
      <p>Phone: </p>
    </section>
  </aside>
  <div class="divider"></div>
  <aside class="span6">
    <section>
      Other References Here
    </section>
  </aside>
</div>
