
<li>
  <div class="row">
    <aside class="span3">
      <%= image_tag item.avatar.url(:small) %>
    </aside>
    <aside class="span6">
      <section>
        <%= item.title %>
      </section>
      <section>
        <div class="content">
          <%= item.content %>
        </div>
        <% if signed_in? && current_user.admin? %>
        <% end %>
      </section
    </aside>
  </div>
</li>
<br />
